<body>

    <div class="img">
      <img src="../../assets/banner-campaign-insurance.jpg" width="100%" height="556px">
    </div>
 
    <div class="center">
      <form [formGroup]="registrationForm">
        <div class="form-group">

          <div class="textfield">
            <input type="text" class="form-control" formControlName="firstName" required>
            <label class="naming"> First Name </label>
          </div>
          <div
              *ngIf="registrationForm.controls['firstName'].touched && registrationForm.controls['firstName'].hasError('required') ">
              <span class="is-invalid">First Name is required</span>
            </div>
           </div>

           <div class="textfield">
            <input type="text" class="form-control" formControlName="lastName" required>
            <label class="naming"> Last Name </label>
          </div>
          <div
              *ngIf="registrationForm.controls['lastName'].touched && registrationForm.controls['lastName'].hasError('required') ">
              <span class="is-invalid">Last Name is required</span>
            </div>
          

          <div class="textfield">
            <input type="text" class="form-control" formControlName="email" required>
            <label class="naming"> Email </label>
          </div>
          <div
              *ngIf="registrationForm.controls['email'].touched && registrationForm.controls['email'].hasError('required') ">
              <span class="is-invalid">Email is required</span>
            </div>
           
 
        <div class="textfield">
          <input type="password" class="form-control" formControlName="password" required>
          <label class="naming"> Password</label>
       </div>
       
        <div class="textfield">
          <input type="password" class="form-control" formControlName="confirmPassword" required>
          <label class="naming"> Confirm Password</label>
       </div>
       <div *ngIf="registrationForm.errors">
        <div *ngIf="registrationForm.errors['doNotMatch']">
          <span class="is-invalid">Password do not match</span>
        </div>
       </div>

      <button type="submit" (click)="onRegister()">submit</button>
    </form>
    </div>
 
  </body>
















 
